/*
 * Empty Stylesheet file.
 */

#root {
    -fx-background-radius: 10px;
}

#root:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, transparent, white 40%, lightgray);    
}

#root:pressed {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, transparent, lightgray 40%, transparent);   
}